<div clas="row">
    <div class="col top-margin no-padding">
        <ul>
            <li n:foreach="$candidates as $candidate">{$candidate['label']}: {$candidate['count']}</li>
        </ul>
    </div>
</div>
