{varType Model\Vote\VotingTime $votingTime}
{varType \DateTimeImmutable $published}

{if $votingTime->isAfterVoting()}
    {snippet publishResult}
        {if $published}
            Výsledek byl zveřejněn {$published|formatdatetime}
        {else}
            <a n:href="publishResult" class="ajax btn btn-lg btn-success">Zveřejnit výsledek</a>
        {/if}
    {/snippet}
{/if}
