/app/config/config.*.neon
/code-quality
/docker
/log/*
/node_modules/*
/temp/*
!/temp/session
/temp/session/*
/tests/
/vendor
.htdeployment
.phpstorm.meta.php
.idea
deployment.*
docker-compose.*
www/css/app.css
www/css/app.css.map
www/js/app.min.js
