{block title}Informace pro komisi{/block}

{block #content}

<h1>Informace pro komisi</h1>

<div class="row">
    <div class="col-md-6">
        {control votingStateBox, true}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Delegáti</h2>
        {control delegatesGrid}
    </div>
</div>
