{block title}Nastavení{/block}

{block #content}

<div class="row">
    <div class="col">
        <h1>Nastavení</h1>
        <h2>Delegáti</h2>
        <a n:href="saveDelegates!" n:class="btn, btn-primary, $delegatesSaved ? disabled">Stáhnout delegáty</a>
    </div>
</div>

<div class="row">
    <div class="col">
        {control votingTimeForm}
    </div>
</div>