#
# These placeholders are defined in build.xml
#
skautis:
     applicationId: 0ca6c858-c4ac-4cbe-af3d-d272dd266102
     testMode: false

parameters:
    database:
        host: localhost
        name: db010534
        user: us010534
        password: __CONFIG_DATABASE_PASSWORD__

    sendEmail: true
    sentry:
        dsn: __CONFIG_SENTRY_DSN__
        releaseHash: __CONFIG_RELEASE_HASH__

services:
    # Passes notices and warning to Monolog
    tracy.logger: Tracy\Bridges\Psr\PsrToTracyLoggerAdapter
