#
# These placeholders are defined in build.xml
#
skautis:
     applicationId: 0ca6c858-c4ac-4cbe-af3d-d272dd266102
     testMode: false

parameters:
    database:
        host: snem-volby.mysql.database.azure.com
        name: snem-volby
        user: spravce
        password: iFPa9LuMgzMGiC8ZfEXa

    sendEmail: true
    sentry:
        dsn: __CONFIG_SENTRY_DSN__
        releaseHash: __CONFIG_RELEASE_HASH__

services:
    # Passes notices and warning to Monolog
    tracy.logger: Tracy\Bridges\Psr\PsrToTracyLoggerAdapter
