application:
    catchExceptions: false
    debugger: true

skautis:
    applicationId: f0c41007-c6c5-46e3-96f6-00efc9eb1a56
    testMode: true

#
# Fixes weird behavior when Session ID is regenerated in request with multipart body
#
session:
    savePath: "%tempDir%/sessions"

parameters:
    sendEmail: FALSE
    testBackground: TRUE

    database:
        host: mysql
        user: root
        password: root
        name: snem_volby

    congress:
        groupId: 775402

services:
    # Pro produkci
    # nette.mailer: Nette\Mail\SendmailMailer
