skautis:
     applicationId: f0c41007-c6c5-46e3-96f6-00efc9eb1a56
     testMode: true

parameters:
    database:
        host: localhost
        name: db010533
        user: us010533
        password: "__CONFIG_DATABASE_PASSWORD__"

    sendEmail: true
    testBackground: true
