parameters:
    uploadDirectory: %appDir%/../uploads
    testBackground: false

php:
    date.timezone: Europe/Prague
    # zlib.output_compression: yes

session:
    autoStart: smart
    expiration: "+ 3 days"
application:
    errorPresenter: Error
    #catchExceptions: true
    mapping:
        *: App\*Module\*Presenter
    debugger:
        email:
            - sinacek@gmail.com
            - frantisekmasa1@gmail.com
        strictMode: TRUE
        maxDepth: 6
        maxLen: 500

console:
    url: https://snem.skauting.cz
    lazy: true
#    helperSet: Doctrine\ORM\Tools\Console\ConsoleRunner::createHelperSet()

messageBus:
    commandBus:
    	middlewares:
    		before:
    			- @SimpleBus\Message\Logging\LoggingMiddleware
    eventBus:
    queryBus:

extensions:
    autoDI: Fmasa\AutoDI\DI\AutoDIExtension
    skautis: Skautis\Nette\SkautisExtension
    messageBus: eGen\MessageBus\DI\MessageBusExtension
    console: Contributte\Console\DI\ConsoleExtension(%isCli%)
    nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)

autoDI:
    errorOnNotMatchedDefinitions: false

    services:
        # Domain services
        - class: Model\*\Services\**

        # Aggregate repositories
        - class: Model\Infrastructure\Repositories\**Repository

        # Domain event subscribers
        - class: Model\*\Subscribers\*Subscriber
          tags: [eventBus.subscriber]

        # Command handlers
        - class: Model\**\Handlers\**Handler
          tags: [commandBus.handler]

        # Query handlers
        - class: Model\**\ReadModel\**
          tags: [queryBus.handler]
          exclude:
              - Model\*\ReadModel\Queries\**

        - class: Model\Infrastructure\Services\**

services:
    - SimpleBus\Message\Logging\LoggingMiddleware(level: 'debug')
    - Model\AuthService
    - Model\UserService(%congress.groupId%, %congress.eventId%)
    - Model\Skautis\SkautisMaintenanceChecker

    skautisCache:
        factory: Nette\Caching\Cache(namespace: 'skautis')
        autowired: false

    - App\RouterFactory

    router: @App\RouterFactory::createRouter

    @Skautis\Wsdl\WsdlManager:
        setup:
            - @Model\Infrastructure\Services\SkautisCallListener::register

    nette.mailer: Nextras\MailPanel\FileMailer(%tempDir%/mail-panel-mails)

    - Model\Infrastructure\Log\UserContextProvider

    - factory: Monolog\Logger
      arguments:
          name: snem_volby
          handlers: [] # We register handlers via setHandlers and pushHandler later
          processors:
              - Model\Infrastructure\Log\Monolog\UserContextProcessor()
              - Model\Infrastructure\Log\Monolog\FormContextProcessor()

    - App\Console\LintLatte(%appDir%)
    - Doctrine\Common\Cache\ArrayCache

    - App\Factories\ILoginPanelFactory
    - App\Factories\IVotingStateBoxFactory
    - App\Factories\ITipBoxFactory

    latte.latteFactory:
        setup:
            - addFilter('formatdate', [App\Utils\Helpers::class, 'formatDate'])
            - addFilter('formatdatetime', [App\Utils\Helpers::class, 'formatDateTime'])
            - addFilter('formatTimeToText', [App\Utils\Helpers::class, 'formatTimeToText'])
decorator:
    Symfony\Component\Console\Application:
        setup:
            - Doctrine\ORM\Tools\Console\ConsoleRunner::addCommands()
    Monolog\Logger:
        setup:
            - pushHandler(Monolog\Handler\RotatingFileHandler(%logDir%/log.log, 90, Monolog\Logger::INFO))

includes:
    - model/doctrine.neon
    - components.neon
    - sentry.neon
