<p>
    <i class="far fa-lightbulb"></i> Tip: Další informace a vysvětlení k návrhu změny Stanov najdete
    <a href="https://krizovatka.skaut.cz/zpravodajstvi/5184-nacelnictvo-na-konec-cervna-vyhlasilo-hlasovani-o-zmene-stanov-proc-je-to-potreba-a-kde-se-dozvedet-vic">v článku na Skautské křižovatce.</a>
</p>
