<p>
    <i class="far fa-lightbulb"></i> Tip: Další informace k elektronickým volbám v roce 2020, a vše co s tím souvisí, najdete
    <a href="https://krizovatka.skaut.cz/zpravodajstvi/5286-distancni-volby-ustrednich-organu-terminy-zivych-vysilani-dulezite-informace">v článku na Skautské křižovatce.</a>
</p>
